<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>
<body>
    <div class="app3-vuejs">
        <div id="app3">
            <input v-model="username" placeholder="Enter your name...">
            <p v-if="names.length > 0">Welcome user: {{ names[0] }}!</p>
            <button @click="addUserName">Add</button>
        </div>
    </div>
    


    <style>
  .app3-vuejs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
    </style>
    <script>
        var app3 = new Vue({
            el: '#app3',
            data: {
                names: [], 
                username: '' 
            },
            methods: {
                addUserName() {
                    if (this.username.trim() !== '') {
                        this.names = [this.username.trim()]; 
                        this.username = ''; 
                    }
                }
            }
        });
    </script>
</body>
</html>
